/* Отступ для основного содержимого */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 100px; /* Это значение должно совпадать с высотой хедера */
}

nav {
    margin-left: 40px;
}
/* Ограничим высоту хедера */
.header {
    background-color: rgba(34, 34, 34, 0.98);
    color: white;
    padding: 10px 30px; /* Уменьшили padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Уменьшили высоту хедера */
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Настроим контейнер переключателя тем */
#theme-switcher {
    padding: 40px;
    display: flex;
    gap: 5px; /* Уменьшили расстояние между кнопками */
    justify-content: flex-end; /* Выравнивание кнопок по правому краю */
    max-width: 200px; /* Ограничим максимальную ширину контейнера */
}

.theme-option {
    background-color: #555;
    border-radius: 50%;
    width: 20px; /* Уменьшили размер кнопок */
    height: 20px; /* Уменьшили высоту кнопок */
    cursor: pointer;
    position: relative;
    border: 2px solid #222;
    transition: border-color 0.3s ease;
}

.theme-option.color-grey{
    background-color: #2e2e2e;
}

.theme-option.color-dark-green{
    background-color: #0d4029;
}

.theme-option.color-dark-blue{
    background-color: #162d4e;
}

.theme-option.color-dark-purple{
    background-color: #301934;
}

.theme-option.color-cream{
    background-color: #2d2d2d;
}





.theme-option.color-grey.active{
    border-color: #444;
}

.theme-option.color-dark-green.active{
    border-color: #195d47;
}

.theme-option.color-dark-blue.active{
    border-color: #1d4b6b;
}

.theme-option.color-dark-purple.active{
    border-color: #4a2b5d;
}

.theme-option.color-cream.active{
    border-color: #433f39;
}




.header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;

}

.header a:hover {
    color: #aaa;
}

/* Контейнер для постов */
.container {
    width: 75%;
    margin: 30px auto;
    background-color: #333;
    color: #f5f5f5;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Публикации */
.post {
    margin-bottom: 50px;
    border-bottom: 2px solid #555;
    padding-bottom: 25px;
}

.post-title {
    font-size: 28px;
    color: #eee;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.post-meta {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 15px;
    font-style: italic;
}

.post-content {
    font-size: 18px;
    line-height: 1.8;
    color: #ddd;
}

.post img {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}



/* Темы */
body.grey-theme {
    background-color: #2e2e2e;
    color: #d4d4d4;
}

body.grey-theme .container {
    background-color: #444;
}

body.dark-green-theme {
    background-color: #0d4029;
    color: #d0e7dc;
}

body.dark-green-theme .container {
    background-color: #195d47;
}

body.dark-blue-theme {
    background-color: #162d4e;
    color: #c9d8e9;
}

body.dark-blue-theme .container {
    background-color: #1d4b6b;
}

body.dark-purple-theme {
    background-color: #301934;
    color: #e8d1f3;
}

body.dark-purple-theme .container {
    background-color: #4a2b5d;
}

body.cream-theme {
    background-color: #2d2d2d;
    color: #fdf2e9;
}

body.cream-theme .container {
    background-color: #433f39;
}

/* Пагинация */
#pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 15px;
}

.page-link {
    background-color: #555;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.page-link:hover {
    background-color: #777;
    color: white;
    transform: translateY(-3px);
}

.page-link.active {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    transform: scale(1.1);
}





code {
            background-color: #f4f4f4;
            padding: 5px;
            display: block;
            border-left: 4px solid #2c6e49;
            margin-bottom: 10px;
        }
pre {
            background-color: #f4f4f4;
            padding: 10px;
            border-left: 4px solid #2c6e49;
            overflow-x: auto;
            white-space: pre-wrap; /* Автоматический перенос длинных строк */
            margin-bottom: 20px;
        }


/* Стили для таблиц */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Стили для списков */
ul {
    list-style-type: disc;
    margin: 10px 0 10px 20px;
}

ol {
    list-style-type: decimal;
    margin: 10px 0 10px 20px;
}

/* Стили для блоков кода */
pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-left: 4px solid #2c6e49;
    overflow-x: auto;
    white-space: pre-wrap;
}

/* Стили для цитат */
blockquote {
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 5px solid #2c6e49;
    margin: 20px 0;
    font-style: italic;
}

/* Стили для iframe (видео) */
iframe {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
