@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
/* Отступ для основного содержимого */
body {
    font-family: 'Roboto', sans-serif;
    color: #d4d4d4;
    padding: 0;
    margin: 0;
    line-height: 1.8;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 100px; /* Это значение должно совпадать с высотой хедера */
}

/* Шрифт для заголовков */
h1 {
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 700;
    color: white;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 26px;
    font-weight: 700;
    color: white;
}

/* Заголовки h4, h5, h6 */
h4 {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    font-weight: 700;
    color: #f0f0f0;
    margin-bottom: 15px;
}

h5 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 600;
    color: #e4e4e4;
    margin-bottom: 12px;
}

h6 {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-weight: 600;
    color: #ccc;
    margin-bottom: 10px;
}

/* Стили для inline элементов */

/* Выделенный текст (strong) */
strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #f5f5f5;
}

/* Курсивный текст (em) */
em {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #d4d4d4;
}

/* Ссылки (a) */
a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #1e90ff; /* Deep blue color for links */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #87cefa; /* Lighter blue on hover */
    text-decoration: underline;
}

/* Подчеркнутый текст (u) */
u {
    text-decoration: underline;
    color: inherit; /* Keep the text color */
}

/* Цитаты внутри строки (q) */
q {
    font-style: italic;
    quotes: "«" "»"; /* Для русского языка используем кавычки-елочки */
}

/* Стили для аббревиатур */
abbr {
    border-bottom: 1px dotted;
    cursor: help;
    text-decoration: none;
}

/* Стили для небольшого текста (small) */
small {
    font-size: 80%;
    color: #b0b0b0;
}

/* Стили для зачеркнутого текста (s, del) */
s, del {
    text-decoration: line-through;
    color: #ff6961; /* Красный для зачеркнутого текста */
}







/* Для параграфов */
p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #d4d4d4;
}

/* Для блоков кода */
code, pre {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    background-color: #2c2c2c;
    padding: 5px;
    border-left: 4px solid #2c6e49;
    color: #f4f4f4;
    display: block;
    margin-bottom: 10px;
}

/* Для таблиц */
table {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: #d4d4d4;
}

th, td {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    background-color: #2c2c2c;
    color: #f4f4f4;
}

/* Для цитат */
blockquote {
    font-family: 'Merriweather', serif;
    font-style: italic;
    background-color: #2c2c2c;
    padding: 20px;
    border-left: 5px solid #2c6e49;
    margin: 20px 0;
    color: #e4e4e4;
}

/* Для нумерованных и маркированных списков */
ol, ul {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 10px 0 10px 20px;
    color: #d4d4d4;
}

li {
    margin-bottom: 5px;
}

/* Шрифт для заголовков таблиц */
tr {
    border-bottom: 1px solid #555;
}





nav {
    margin-left: 40px;
}
/* Ограничим высоту хедера */
.header {
    background-color: rgba(34, 34, 34, 0.98);
    color: white;
    padding: 10px 30px; /* Уменьшили padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Уменьшили высоту хедера */
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.share-btn {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 5px 10px; /* Компактные отступы */
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px; /* Уменьшенный шрифт */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block; /* Чтобы кнопка занимала ровно столько места, сколько нужно */
}

.share-btn:hover {
    background-color: #4682b4;
}




/* Настроим контейнер переключателя тем */
#theme-switcher {
    padding: 40px;
    display: flex;
    gap: 5px; /* Уменьшили расстояние между кнопками */
    justify-content: flex-end; /* Выравнивание кнопок по правому краю */
    max-width: 200px; /* Ограничим максимальную ширину контейнера */
}

.theme-option {
    background-color: #555;
    border-radius: 50%;
    width: 20px; /* Уменьшили размер кнопок */
    height: 20px; /* Уменьшили высоту кнопок */
    cursor: pointer;
    position: relative;
    border: 2px solid #222;
    transition: border-color 0.3s ease;
}

.theme-option.color-grey{
    background-color: #2e2e2e;
}

.theme-option.color-dark-green{
    background-color: #0d4029;
}

.theme-option.color-dark-blue{
    background-color: #162d4e;
}

.theme-option.color-dark-purple{
    background-color: #301934;
}

.theme-option.color-cream{
    background-color: #2d2d2d;
}





.theme-option.color-grey.active{
    border-color: #444;
}

.theme-option.color-dark-green.active{
    border-color: #195d47;
}

.theme-option.color-dark-blue.active{
    border-color: #1d4b6b;
}

.theme-option.color-dark-purple.active{
    border-color: #4a2b5d;
}

.theme-option.color-cream.active{
    border-color: #433f39;
}




.header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;

}

.header a:hover {
    color: #aaa;
}

/* Контейнер для постов */
.container {
    width: 75%;
    margin: 30px auto;
    background-color: #333;
    color: #f5f5f5;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Публикации */
.post {
    margin-bottom: 50px;
    border-bottom: 2px solid #555;
    padding-bottom: 25px;
}

.post-title {
    font-size: 28px;
    color: #eee;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.post-meta {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 15px;
    font-style: italic;
}

.post-content {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #ddd;
}

.post img {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}



/* Темы */
body.grey-theme {
    background-color: #2e2e2e;
    color: #d4d4d4;
}

body.grey-theme .container {
    background-color: #444;
}

body.dark-green-theme {
    background-color: #0d4029;
    color: #d0e7dc;
}

body.dark-green-theme .container {
    background-color: #195d47;
}

body.dark-blue-theme {
    background-color: #162d4e;
    color: #c9d8e9;
}

body.dark-blue-theme .container {
    background-color: #1d4b6b;
}

body.dark-purple-theme {
    background-color: #301934;
    color: #e8d1f3;
}

body.dark-purple-theme .container {
    background-color: #4a2b5d;
}

body.cream-theme {
    background-color: #2d2d2d;
    color: #fdf2e9;
}

body.cream-theme .container {
    background-color: #433f39;
}

/* Пагинация */
#pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 15px;
}

.page-link {
    background-color: #555;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.page-link:hover {
    background-color: #777;
    color: white;
    transform: translateY(-3px);
}

.page-link.active {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    transform: scale(1.1);
}